@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
}
:root {
 --Blue-500: hsl(215, 51%, 70%);
 --Cyan-400: hsl(178, 100%, 50%);
 --Blue-950: hsl(217, 54%, 11%);
 --Blue-900: hsl(216, 50%, 16%);
 --Blue-800: hsl(215, 32%, 27%);
 --White: hsl(0, 0%, 100%);

  /* --- Font Family --- */
  --font-family-primary: 'Outfit', sans-serif; 

  /* --- Text Preset 1 (Outfit SemiBold) --- */
  --text-preset-1-weight: 600; /* SemiBold weight */
  --text-preset-1-size: 22px;
  --text-preset-1-line-height: 1.25; 
  --text-preset-1-letter-spacing: 0px;

  /* --- Text Preset 2 (Outfit Light) --- */
  --text-preset-2-weight: 300; /* Light weight */
  --text-preset-2-size: 18px;
  --text-preset-2-line-height: 1.45; 
  --text-preset-2-letter-spacing: 0px;

  /* --- Text Preset 3 (SemiBold) --- */
  --text-preset-3-weight: 600; /* SemiBold weight */
  --text-preset-3-size: 16px;
  --text-preset-3-line-height: 1.25; 
  --text-preset-3-letter-spacing: 0px;

  /* --- Text Preset 3 (Regular) --- */
  --text-preset-4-weight: 400; /* SemiBold weight */
  --text-preset-4-size: 16px;
  --text-preset-4-line-height: 1.25; 
  --text-preset-4-letter-spacing: 0px;
}

main {
    background: var(--Blue-950);
    height: 100lvh;
    display: grid;
    place-items: center;
    
}

article{
    height: 37.25rem;
    width: 21.875rem;
    border-radius: 15px;
    background: var(--Blue-900);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.0953));
}

.img-box {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box:hover .overlay {
  background: hsl(178, 100%, 50%);
  opacity: 0.5;
}
.img-box:hover .view-icon {
  opacity: 1;
}
.img-box .main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.view-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.content {
    height: 34.25rem;
    width: 18.875rem;
}

.balance_and_days{
    display: flex;
    justify-content: space-between;
}
h1{
    color: var(--White);
    font-size: var(--text-preset-1-size);
    font-weight: var(--text-preset-1-weight);
    line-height: var(--text-preset-1-line-height);
    letter-spacing: var(--text-preset-1-letter-spacing);
    margin-bottom: 1rem;
}
h1:hover{
    color: var(--Cyan-400);
    cursor: pointer;
}
h2{
    color: var(--Cyan-400);
    font-size: var(--text-preset-3-size);
    font-weight: var(--text-preset-3-weight);
    line-height: var(--text-preset-3-line-height);
    letter-spacing: var(--text-preset-3-letter-spacing);
}
h2::before{
    content: url(images/icon-ethereum.svg);
    position: relative;
    top: 2px;
    margin-right: 8px;  
}

.days{
    font-size: var(--text-preset-4-size);
    font-weight: var(--text-preset-4-weight);
    line-height: var(--text-preset-4-line-height);
    letter-spacing: var(--text-preset-4-letter-spacing);
}
.days::before{
    content: url(images/icon-clock.svg);
    position: relative;
    top: 2px;
    margin-right: 8px;
    
    
}
.description{
    margin-bottom: 1.5rem;
    font-size: var(--text-preset-2-size);
    font-weight: var(--text-preset-2-weight);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);
}

p{
    color: var(--Blue-500);
}

.name{
    color: var(--White);
}
.name:hover{
    color: var(--Cyan-400);
    cursor: pointer;
}
hr{
    height: 1px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--Blue-800);
    border: none;
}

.avatar {
    height: 32px;
    width: 32px;
    border:solid 1px  white;
    border-radius: 50%;
}

.creator{
    margin-top: 6px;
    margin-left: 16px;
}
.footer{
    display: flex;
    height: 33px;
}







